
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "ui-serif";
  color: #0c120a;
  background: linear-gradient(to left , rgb(82, 133, 174), rgb(218, 219, 220));
  }

  
.title {
  color: white;     
  padding-left: 2%;
  text-shadow: 2px 2px red;
}      
   
/*                 Header              */
img {height: 175px;}

.pics2 {
        height: 375px;
        padding-left: 150px;
        padding-top:50px;
        }

.pics2a {
  height: 375px;
  padding-left: 150px;
  padding-top:50px;
          }

.pics3 {  
      height: 400px;
      padding-left: 150px;
      padding-top:50px;     
        }

.pics4 {  
  height: 400px;
  width: 700px;
  padding-left: 150px;
  padding-top:50px;     
}


.grid-container {
  display: grid;
  grid-template-columns: 50% 40% ;
}

.grid-container1 {
  display: grid;
  grid-template-columns: 45% 50% ;
}

.grid-container_Rows{
  grid-template-rows: 5%;

}
.grid-item {
  color: maroon;
  background-color: transparent;
  padding-top: 6%;
  font-size: 25px;
  text-align: left;
}

.grid-item-1 {
  color: maroon;
  background-color: transparent;
  padding-top: 1%;
  font-size: 25px;
  text-align: left;
}



header a {
  height: 10px;
  font-size: 5px;
  text-decoration: none;
  z-index: 100;
  }


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  }

  


  nav {
  font-weight: bold;
  font-size: 25px;
  grid-row: 2/3;
  grid-column: 1/-1;
  position: sticky;
  top: 0;
  background-color: #424242;    /*  Banner */
  border-bottom: 3px solid #be1010;
  z-index: 100;
  }

nav ul{list-style-type: none;}

nav ul li{display: inline;}


nav ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  z-index: 1;
 }

nav ul li {width: 100%;}

nav a:hover {background-color: #ba1c21;}

#wrapper {
  box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
  display: grid;
  grid-auto-rows: minmax(0px, auto);
  z-index: 3;
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

.dropbtn {       /*  Banner - text */
  width: 100%;
  background-color: #424242;
  font-size: 20px;
  border: none;
  color: white;

        }

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  z-index: 50;
  }


.dropdown-content {
 background: white;
 text-align: left;
 display: none;
 font-family: "Fantasy", copperplate;
 position: absolute;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 50;
 }

.dropdown-content a {
 text-align: left;
 color: black;
 width: 350px;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 z-index: 50;
 }

.dropbtn:hover {background-color: red;cursor: pointer;}

.dropdown:hover .dropdown-content {display: block;}

    /*----------------------------------------------------------------------
                        Main Menu Transition
    ----------------------------------------------------------------------*/

.container {
    height: 60vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate {
  0%   {background-image:url(1-1-1_Pics/1-1-1_Pool.jpg);}
  100% {background-image:url(1-1-1_Pics/1-1-1_Pool.jpg);}
    }

    /*----------------------------------------------------------------------
                        Services Transition
    ----------------------------------------------------------------------*/
    .container1 {
      height: 75vh;
      width: 100%;
      background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 5s;
  
      animation-name: animate1;
      animation-direction: alternate-reverse;
      animation-duration:5s;
      animation-fill-mode:forwards;
      animation-iteration-count:infinite;
      animation-play-state:running;
      animation-timing-function:ease-in-out;
  }
  
  @keyframes animate1 {
    0%   {background-image:url(1-1-1_Pics/1-1-1_Pool.jpg);}
    100% {background-image:url(1-1-1_Pics/1-1-1_Pool.jpg);}
      }

    /*----------------------------------------------------------------------
                         Font Selection
    ----------------------------------------------------------------------*/

.p1{                          /*  Main Page Center Box                     */
  color: rgb(10, 9, 117);
  font-size: 50px;
  
}

.p2{                          /*    Paragraph Header - All                       */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  color: rgb(92, 5, 5);
  font-size: 30px;
 }

 .p2a{                          /*    Main Menu - Package Header                     */
  padding-left: 30%;
  padding-right: 5%;
  padding-top: 1%;
  color: rgb(92, 5, 5);
  font-size: 25px;
 }

 .p3{                          /*     Contact and About Us Header                      */
  margin-left: 20%;

  padding-top: 10px;
  color: rgb(92, 5, 5);
  font-size: 30px;
 }

.p4{                            /*  Pargraph Text - Main Menu and about us                 */
  padding-right: 5%;
  color: black;
  font-size: 25px;
  margin-left: 10%;
   }

  .p5{                            /*  List Titles - Services             */
    text-align: center;
    padding-right: 5%;
    color: rgb(10, 9, 117);
    font-size: 40px;
     }

  .p6{                            /*  Pargraph Title - Main Menu - First Paragraph              */
    padding-left: 5%;

      padding-top: 30px;
      color: rgb(92, 5, 5);
      font-size: 30px;
      } 
      
  .p7{                            /*  Pargraph - Main Menu - Contact Info             */
    margin-left: 25%;
      color: black;
      font-size: 20px;
      margin-top: -2%;
      }          

  .p8{                            /*  Services Lists             */
    margin-top: -10px;
    padding-left: 5%;
    padding-right: 5%;
    color: rgb(10, 9, 117);
    font-size: 20px;
    
      } 

.button2 {
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;

  border-image: linear-gradient(45deg, rgb(250, 249, 248), rgb(11, 11, 11)) 5;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(rgb(7, 32, 222), rgb(8, 8, 16));
  font-size: 30px;
  text-decoration: none;
  margin-left: 160px;
  margin-bottom: 30px;
  opacity: .8;
  font-family: cursive;

}


.body-title {
  position: absolute;
  left: 10%;
  top: 40%;
  border-width: 1px;
  padding-left: 100px;
  padding-right: 100px;
  background: linear-gradient(to left , rgb(82, 133, 174), rgb(218, 219, 220));
  opacity: .8;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 50px 20px 16px 0px rgb(13, 82, 143);
  }



.body-title1 {
  background: rgb(238, 231, 231);
  opacity: .8;
  padding-left: 100px;
  position: absolute;
  left: 10%;
  width: 85%;
  top: 25%;
  height: 60%;
  border-width: 1px;
  padding-left: 10px;
  font-size: 25px;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 5px 8px 16px 0px black;
  }


  .body-title1a {
    font-weight: 900;
    padding-left: 100px;
    position: absolute;
    left: 10%;
    width: 85%;
    top: 25%;
    height: 60%;
    border-width: 1px;
    padding-left: 10px;
    font-size: 25px;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 5px 8px 16px 0px black;
    }



 .body-title2 {
  background: linear-gradient( rgb(2, 23, 41), rgb(218, 219, 220));
    position: absolute;
    left: 50%;
    width: 35%;
    top: 30%;
    height: 50%;
    color: white;
    border-width: 1px;
    padding-left: 10px;
    font-size: 30px;
    opacity: .9;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 5px 8px 16px 0px black;
    }

  .body-title3 {

      position: absolute;
      left: 50%;
      width: 35%;
      top: 30%;
      height: 50%;
      color: white;
      border-width: 1px;
      padding-left: 10px;
      font-size: 30px;
      opacity: .9;
      z-index: 10;
      border-radius: 10px;
      box-shadow: 5px 8px 16px 0px black;
      }



    
  .body-title3 {
    position: absolute;
    left: 10%;
    top: 18%;
    width: 65%;
    text-align: center;
    border-width: 1px;
    padding-left: 100px;
    padding-right: 100px;

    opacity: .8;
    z-index: 10;
    border-radius: 10px;
    }

    /*----------------------------------------------------------------------
                         CSS for Contact Us
    ----------------------------------------------------------------------*/


.emailBox {
  display: grid;
  grid-template-columns: 30% 50%;
  font-size: 35px;
  }

.emailBoxName    {font-size:20px; width: 60%;}

.emailBoxProject {
    margin-top: 1%;
    font-size:20px;
    width: 60%; 
    height: 100px; 
    word-wrap: normal|break-word|initial;}

.submitEmail   {
  background: linear-gradient( rgb(2, 23, 41), rgb(218, 219, 220));
  margin-top: 1%;
  margin-left: 10%;
  font-size:30px;
  width: 40%;
  color: white;
  border-radius: 50px;
  box-shadow: 5px 8px 16px 0px black;
  }